.general-content {
  background-color: #FFFFFF;
  display: none;
  margin-bottom: 24px;
}

.active-content {
  display: block;
}

.date-period-wrapper {
  display: flex;
  border-bottom: 1px solid $light-gray-color;
  align-items: center;
  height: 150px;
  justify-content: center;
}

.date-period {
  display: flex;
  border: 1px solid $light-gray-color;
  padding: 12px;

  .middle {
    border-left: 1px solid $light-gray-color;
  }
}

.statistics-wrapper {
  display: flex;
  align-items: center;
  height: 200px;
}

.statistics {
  display: flex;
  justify-content: space-evenly;

  .single-stat {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-gray-color;
    margin: 16px;
    padding: 0;
  }
}

.chart-legend {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.chart {
  margin: 24px;
}

.chart-md {
  display: none;
}

.chart-sm {
  display: none;
}

.plus {
  height: 18px;
  width: 18px;
  display: inline-block;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 12px;
  text-align: center;
  transform: translateY(16%);
}

.plus::before {
  content: "+";
}
